<template name="home">
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div class="container">
        <div class="navbar-header">
          <!-- Button for smallest screens -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/" style="color: #ffffff;">PettyPay</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="/">Home</a></li>
            {{#if User}}
              <li><a class="btn" href="/admin">Go To Dashboard</a></li>
            {{else}}
              <li><a class="btn" href="{{pathFor 'signin'}}">SIGN IN / SIGN UP</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div> 
    <!-- /.navbar -->

    <!-- Header -->
    <header id="head">
      <div class="container">
        <div class="row">
          <h1 class="lead">PettyPay</h1>
          <p class="tagline">Petty Cash Payments Made Simple.</p>
          <p><a class="btn btn-default btn-lg" role="button" href="{{pathFor 'signup'}}">Get Started</a></p>
        </div>
      </div>
    </header>
    <!-- /Header -->
    <section id="why" class="why-section align-center ">
        <div class="container">
          <div class="section-content row">
            <div class="col-sm-6 pull-right animated why-content" data-duration="500" data-animation="fadeIn">
              <img src="../../img/retailpay_featured.png" class="img-responsive" alt="process 2" />
            </div>
            <div class="col-sm-6 align-left animated why-content" data-duration="500" data-animation="fadeIn">
              <br/><br/>
              <article>
                <h3>GET SMARTER WITH <span class="highlight">PETTY CASH DISBURSEMENTS</span></h3>

                <h6>There are over 10 million registered mobile money accounts in Ghana. Why keep cash or issue cheques when you can easily pay
                your petty expenditure with Vodafone Cash.
                </h6>
                <h6>Keep track of your monthly petty cash fund balance.</h6>
                <h6>Easily top-up when your fund is getting low.</h6>
              </article>
            </div>
            <hr class="clearfix" />
          </div>
        </div>
    </section>
    {{> footer}}
</template>